.resetpage{
font-family: 'Times New Roman', Times, serif;
    background-color: antiquewhite;
border-radius: 20% 0% 20% 0%;
margin-top: 15%;
    width: 60%;
box-shadow: 10px 10px 10px black;

}
.changep{

    font-family: 'Times New Roman', Times, serif;
    
}